@model IEnumerable<EventPlannerApp.Models.Event>

@{
    ViewData["Title"] = "Мои мероприятия";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Search">
    <input type="text" placeholder="Поиск мероприятий" class="search-bar" name="query"/>
    <button type="submit" class="btn btn-success">Поиск</button>
</form>

<form asp-action="Create">
    <button class="btn btn-success" type="submit">Создать новое мероприятие</button>
    <button asp-action="Index" asp-controller="Home" class="btn btn-outline-primary" type="submit">На главную</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Место</th>
            <th>Описание</th>
            <th>Редактировать</th>
            <th>Детали</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
                <td>
                    <form asp-action="DeleteEvent" asp-route-id="@item.Id">
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>