@model IEnumerable<EventPlannerApp.Models.Guest>

@{
    ViewData["Title"] = "Guests";
}

<h2>Guests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.Name</td>
                <td>@guest.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "Guests", new { id = guest.Id })" class="btn btn-sm btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "Guests", new { id = guest.Id })" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("Create", "Guests", new { eventId = ViewBag.EventId })" class="btn btn-primary">Add Guest</a>
    <a href="@Url.Action("Index", "Events")" class="btn btn-primary">Назад к списку</a>
</p>